{% extends 'portfolio/base.html' %}

{% block content %}
<div class="container text-center">
<h1>Barbara's Daily blogs</h1>
<h3>Barbara has {{Blogs.count}} blog{{Blogs.count|pluralize}}</h3>
{% for blog in Blogs %}
</div>

<br>
<div class="container text-left">

<a href ="{% url 'Blog:detail' blog.id %}"><h2>{{blog.title}}</h2></a>
<h3 style="color:DodgerBlue">{{blog.date|date:'d/M/y'|upper }}</h3>
<p>{{blog.description|striptags|truncatechars:100}}</p>
</div>
</div>


{% endfor %}

{% endblock %}
